<h1>Directors</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Dob</th>
      <th>Name</th>
      <th>Bio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @director.each do |director| %>
    <tr>
      <th><img src="<%= director.image_url %>" alt="<%= director.name %>" width="80"/></th>
      <th><%= director.dob %></th>
      <th><%= director.name %></th>
      <th><%= director.bio %></th>
      <th><a href="https://google.com" class="btn btn-primary">S</a></th>
      <th></th>
      <th></th>
    </tr>
    <% end  %>
  </tbody>
</table>
